---
name: ci

on:  # yamllint disable-line rule:truthy
  push:
    branches:
    - main
  pull_request:

jobs:
  checks:
    name: Format and style checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v11
      with:
        java-version: adopt@1.11
    - run: sbt ";scalafixAll --check"
    - run: sbt scalafmtCheckAll
    - run: sbt scalafmtSbtCheck
    - run: sbt headerCheckAll
    - name: yaml-lint
      uses: ibiqlik/action-yamllint@v3

  test:
    name: Compile and test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v11
      with:
        java-version: adopt@1.11
    - run: sbt test

  native-image:
    name: Build native image
    runs-on: ubuntu-latest
    steps:
    - uses: rinx/setup-graalvm-ce@v0.0.5
      with:
        graalvm-version: "20.0.0"
        java-version: "java11"
    - run: gu install native-image
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v11
      with:
        java-version: adopt@1.11
    - run: sbt graalvm-native-image:packageBin
    - run: target/graalvm-native-image/hof version
